In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df= pd.read_csv('student data.csv')
df

    Roll               Name Class  Marks  Age
0    101       Aarav Sharma    SE     78   19
1    102         Isha Verma    TE     85   20
2    103         Rohan Iyer    BE     67   21
3    104        Nidhi Patil    SE     90   19
4    105        Karan Mehta    TE     74   20
5    106     Pooja Deshmukh    BE     81   22
6    107       Aditya Joshi    SE     76   18
7    108     Sneha Kulkarni    TE     89   21
8    109        Vikram Nair    BE     72   22
9    110   Ananya Choudhary    SE     95   19
10   111       Rajat Bansal    TE     68   20
11   112        Priya Sinha    BE     79   22
12   113       Akash Kapoor    SE     83   19
13   114    Simran Malhotra    TE     91   21
14   115       Manish Reddy    BE     70   23
15   116        Tanya Ghosh    SE     87   18
16   117       Suresh Menon    TE     75   20
17   118      Kavita Pillai    BE     80   22
18   119   Devendra Chauhan    SE     65   19
19   120      Meenal Saxena    TE     92   21
20   121        Harsh Gupta    BE     78   22
21   122   Swati Srivastava    SE     85   18
22   123       Arjun Thakur    TE     88   21
23   124     Bhavana Shetty    BE     90   22
24   125        Rohit Yadav    SE     77   19
25   126   Deepika Banerjee    TE     82   20
26   127          Mohit Rao    BE     66   22
27   128      Sakshi Mishra    SE     84   19
28   129        Tarun Singh    TE     79   21
29   130         Nikhil Das    BE     88   23
30   131          Riya Paul    SE     92   18
31   132        Gautam Bhat    TE     73   20
32   133        Neha Khanna    BE     69   22
33   134      Varun Agrawal    SE     80   19
34   135        Aditi Nanda    TE     94   21
35   136    Yashwant Pillai    BE     75   23
36   137     Supriya Borkar    SE     89   18
37   138      Ramesh Prabhu    TE     76   20
38   139  Pallavi Mukherjee    BE     91   22
39   140      Vishal Khatri    SE     72   19
40   141         Shruti Rao    TE     83   21
41   142     Kunal Bhardwaj    BE     77   23
42   143         Meera Nair    SE     86   18
43   144       Sumit Saxena    TE     79   20
44   145       Aniket Joshi    BE     93   22
45   146   Priyanshi Tiwari    SE     70   19
46   147     Dhruv Malhotra    TE     82   21
47   148      Karishma Shah    BE     74   22
48   149        Rahul Sethi    SE     90   19
49   150     Anushka Sharma    TE     88   20

In [3]:
df['Marks'].mean()

80.94

In [4]:
df['Age'].median()

20.0

In [5]:
df['Marks'].std()

8.234843839516596

In [6]:
df.min()

Roll              101
Name     Aarav Sharma
Class              BE
Marks              65
Age                18
dtype: object

In [7]:
df.max()

Roll                 150
Name     Yashwant Pillai
Class                 TE
Marks                 95
Age                   23
dtype: object

In [8]:
np.std(df['Marks'])

8.152079489308232

In [9]:
gr1 = df.groupby('Class')

In [10]:
te = gr1.get_group('TE')
te

    Roll              Name Class  Marks  Age
1    102        Isha Verma    TE     85   20
4    105       Karan Mehta    TE     74   20
7    108    Sneha Kulkarni    TE     89   21
10   111      Rajat Bansal    TE     68   20
13   114   Simran Malhotra    TE     91   21
16   117      Suresh Menon    TE     75   20
19   120     Meenal Saxena    TE     92   21
22   123      Arjun Thakur    TE     88   21
25   126  Deepika Banerjee    TE     82   20
28   129       Tarun Singh    TE     79   21
31   132       Gautam Bhat    TE     73   20
34   135       Aditi Nanda    TE     94   21
37   138     Ramesh Prabhu    TE     76   20
40   141        Shruti Rao    TE     83   21
43   144      Sumit Saxena    TE     79   20
46   147    Dhruv Malhotra    TE     82   21
49   150    Anushka Sharma    TE     88   20

In [11]:
te.min()

Roll             102
Name     Aditi Nanda
Class             TE
Marks             68
Age               20
dtype: object

In [12]:
te.max()

Roll             150
Name     Tarun Singh
Class             TE
Marks             94
Age               21
dtype: object

In [13]:
gr2 = df.groupby('Age')

In [14]:
gr2.groups

{18: [6, 15, 21, 30, 36, 42], 19: [0, 3, 9, 12, 18, 24, 27, 33, 39, 45, 48], 20: [1, 4, 10, 16, 25, 31, 37, 43, 49], 21: [2, 7, 13, 19, 22, 28, 34, 40, 46], 22: [5, 8, 11, 17, 20, 23, 26, 32, 38, 44, 47], 23: [14, 29, 35, 41]}

In [15]:
tw = gr2.get_group(20)

In [16]:
tw

    Roll              Name Class  Marks  Age
1    102        Isha Verma    TE     85   20
4    105       Karan Mehta    TE     74   20
10   111      Rajat Bansal    TE     68   20
16   117      Suresh Menon    TE     75   20
25   126  Deepika Banerjee    TE     82   20
31   132       Gautam Bhat    TE     73   20
37   138     Ramesh Prabhu    TE     76   20
43   144      Sumit Saxena    TE     79   20
49   150    Anushka Sharma    TE     88   20

In [17]:
import seaborn as sns

In [18]:
df = sns.load_dataset('iris')

In [19]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [20]:
gr = df.groupby('species')

In [21]:
se = gr.get_group('setosa')
ve = gr.get_group('versicolor')
vi = gr.get_group('virginica')

In [22]:
se

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa
21           5.1          3.7           1.5          0.4  setosa
22           4.6          3.6           1.0          0.2  setosa
23           5.1          3.3           1.7          0.5  setosa
24           4.8          3.4           1.9          0.2  setosa
25           5.0          3.0           1.6          0.2  setosa
26           5.0          3.4           1.6          0.4  setosa
27           5.2          3.5           1.5          0.2  setosa
28           5.2          3.4           1.4          0.2  setosa
29           4.7          3.2           1.6          0.2  setosa
30           4.8          3.1           1.6          0.2  setosa
31           5.4          3.4           1.5          0.4  setosa
32           5.2          4.1           1.5          0.1  setosa
33           5.5          4.2           1.4          0.2  setosa
34           4.9          3.1           1.5          0.2  setosa
35           5.0          3.2           1.2          0.2  setosa
36           5.5          3.5           1.3          0.2  setosa
37           4.9          3.6           1.4          0.1  setosa
38           4.4          3.0           1.3          0.2  setosa
39           5.1          3.4           1.5          0.2  setosa
40           5.0          3.5           1.3          0.3  setosa
41           4.5          2.3           1.3          0.3  setosa
42           4.4          3.2           1.3          0.2  setosa
43           5.0          3.5           1.6          0.6  setosa
44           5.1          3.8           1.9          0.4  setosa
45           4.8          3.0           1.4          0.3  setosa
46           5.1          3.8           1.6          0.2  setosa
47           4.6          3.2           1.4          0.2  setosa
48           5.3          3.7           1.5          0.2  setosa
49           5.0          3.3           1.4          0.2  setosa

In [23]:
se.shape

(50, 5)

In [24]:
se.describe()

       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000    50.000000
mean        5.00600     3.428000      1.462000     0.246000
std         0.35249     0.379064      0.173664     0.105386
min         4.30000     2.300000      1.000000     0.100000
25%         4.80000     3.200000      1.400000     0.200000
50%         5.00000     3.400000      1.500000     0.200000
75%         5.20000     3.675000      1.575000     0.300000
max         5.80000     4.400000      1.900000     0.600000

In [25]:
se['sepal_length'].min()

4.3

In [26]:
ve

    sepal_length  sepal_width  petal_length  petal_width     species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
52           6.9          3.1           4.9          1.5  versicolor
53           5.5          2.3           4.0          1.3  versicolor
54           6.5          2.8           4.6          1.5  versicolor
55           5.7          2.8           4.5          1.3  versicolor
56           6.3          3.3           4.7          1.6  versicolor
57           4.9          2.4           3.3          1.0  versicolor
58           6.6          2.9           4.6          1.3  versicolor
59           5.2          2.7           3.9          1.4  versicolor
60           5.0          2.0           3.5          1.0  versicolor
61           5.9          3.0           4.2          1.5  versicolor
62           6.0          2.2           4.0          1.0  versicolor
63           6.1          2.9           4.7          1.4  versicolor
64           5.6          2.9           3.6          1.3  versicolor
65           6.7          3.1           4.4          1.4  versicolor
66           5.6          3.0           4.5          1.5  versicolor
67           5.8          2.7           4.1          1.0  versicolor
68           6.2          2.2           4.5          1.5  versicolor
69           5.6          2.5           3.9          1.1  versicolor
70           5.9          3.2           4.8          1.8  versicolor
71           6.1          2.8           4.0          1.3  versicolor
72           6.3          2.5           4.9          1.5  versicolor
73           6.1          2.8           4.7          1.2  versicolor
74           6.4          2.9           4.3          1.3  versicolor
75           6.6          3.0           4.4          1.4  versicolor
76           6.8          2.8           4.8          1.4  versicolor
77           6.7          3.0           5.0          1.7  versicolor
78           6.0          2.9           4.5          1.5  versicolor
79           5.7          2.6           3.5          1.0  versicolor
80           5.5          2.4           3.8          1.1  versicolor
81           5.5          2.4           3.7          1.0  versicolor
82           5.8          2.7           3.9          1.2  versicolor
83           6.0          2.7           5.1          1.6  versicolor
84           5.4          3.0           4.5          1.5  versicolor
85           6.0          3.4           4.5          1.6  versicolor
86           6.7          3.1           4.7          1.5  versicolor
87           6.3          2.3           4.4          1.3  versicolor
88           5.6          3.0           4.1          1.3  versicolor
89           5.5          2.5           4.0          1.3  versicolor
90           5.5          2.6           4.4          1.2  versicolor
91           6.1          3.0           4.6          1.4  versicolor
92           5.8          2.6           4.0          1.2  versicolor
93           5.0          2.3           3.3          1.0  versicolor
94           5.6          2.7           4.2          1.3  versicolor
95           5.7          3.0           4.2          1.2  versicolor
96           5.7          2.9           4.2          1.3  versicolor
97           6.2          2.9           4.3          1.3  versicolor
98           5.1          2.5           3.0          1.1  versicolor
99           5.7          2.8           4.1          1.3  versicolor

In [27]:
ve.shape

(50, 5)

In [28]:
ve.describe()

       sepal_length  sepal_width  petal_length  petal_width
count     50.000000    50.000000     50.000000    50.000000
mean       5.936000     2.770000      4.260000     1.326000
std        0.516171     0.313798      0.469911     0.197753
min        4.900000     2.000000      3.000000     1.000000
25%        5.600000     2.525000      4.000000     1.200000
50%        5.900000     2.800000      4.350000     1.300000
75%        6.300000     3.000000      4.600000     1.500000
max        7.000000     3.400000      5.100000     1.800000

In [29]:
ve['sepal_length'].min()

4.9

In [30]:
vi

     sepal_length  sepal_width  petal_length  petal_width    species
100           6.3          3.3           6.0          2.5  virginica
101           5.8          2.7           5.1          1.9  virginica
102           7.1          3.0           5.9          2.1  virginica
103           6.3          2.9           5.6          1.8  virginica
104           6.5          3.0           5.8          2.2  virginica
105           7.6          3.0           6.6          2.1  virginica
106           4.9          2.5           4.5          1.7  virginica
107           7.3          2.9           6.3          1.8  virginica
108           6.7          2.5           5.8          1.8  virginica
109           7.2          3.6           6.1          2.5  virginica
110           6.5          3.2           5.1          2.0  virginica
111           6.4          2.7           5.3          1.9  virginica
112           6.8          3.0           5.5          2.1  virginica
113           5.7          2.5           5.0          2.0  virginica
114           5.8          2.8           5.1          2.4  virginica
115           6.4          3.2           5.3          2.3  virginica
116           6.5          3.0           5.5          1.8  virginica
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica
119           6.0          2.2           5.0          1.5  virginica
120           6.9          3.2           5.7          2.3  virginica
121           5.6          2.8           4.9          2.0  virginica
122           7.7          2.8           6.7          2.0  virginica
123           6.3          2.7           4.9          1.8  virginica
124           6.7          3.3           5.7          2.1  virginica
125           7.2          3.2           6.0          1.8  virginica
126           6.2          2.8           4.8          1.8  virginica
127           6.1          3.0           4.9          1.8  virginica
128           6.4          2.8           5.6          2.1  virginica
129           7.2          3.0           5.8          1.6  virginica
130           7.4          2.8           6.1          1.9  virginica
131           7.9          3.8           6.4          2.0  virginica
132           6.4          2.8           5.6          2.2  virginica
133           6.3          2.8           5.1          1.5  virginica
134           6.1          2.6           5.6          1.4  virginica
135           7.7          3.0           6.1          2.3  virginica
136           6.3          3.4           5.6          2.4  virginica
137           6.4          3.1           5.5          1.8  virginica
138           6.0          3.0           4.8          1.8  virginica
139           6.9          3.1           5.4          2.1  virginica
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [31]:
vi.shape

(50, 5)

In [32]:
vi.describe()

       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000

In [33]:
vi['sepal_length'].min()

4.9